
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.select2 {
    width: 100% !important;
}
.select2-container {
    display: inline-block !important;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
}
.select2-dropdown {
    display: inherit;
}
.select2-container--default>.selection {
    width: 100% !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    color: whitesmoke !important;
    background: #373e49 !important;
    display: inherit;
}
.select2-selection__choice__remove {
    height: 100% !important;
    border: 0 !important;
    background: none !important;
    border-right: 1px solid #e1e1e1 !important;
    color: whitesmoke !important;
    outline: none !important;
}
.select2-selection__rendered {
    display: flex !important;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.select2-selection__choice {
    border: 1px solid #e1e1e1 !important;
    border-radius: 0.25rem !important;
    height: 3rem !important;
    margin: 5px !important;
    padding-right: 8px !important;
    background-color: #373e49 !important;
}
.select2-results__option--selected {
    display: none;
}
.select2-search--inline {
    flex: 1
}
.select2-search__field {
    background: none !important;
    color: whitesmoke !important;
    outline: none !important;
    border: none !important;
    width: 100% !important;
}
.select2-search__field::-webkit-search-cancel-button{
    display: none;
}

.select2-results__options {
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}
.select2-dropdown {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #e1e1e1;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: whitesmoke !important;
    background: #373e49 !important;
}

.w-33 {
    width: 33.333333333% !important;
}